DATABASE_URL="postgresql://postgres:postgres@localhost:5432/betteruptime"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/betteruptime"
AMQP_URL=amqp://guest:guest@localhost:5672
EMAIL_USER="REDACTED_EMAIL"
EMAIL_PASSWORD="REDACTED_GMAIL_APP_PASSWORD"
REDIS_URL=redis://localhost:6379